<html>
<head>
  <title>Forum Friends</title>
<link rel="stylesheet" href="../../assets/stylesheets/custom_sign_up.css">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
</div>
</head>
<body>
  <main class="mdl-layout__content">
    <% @posts.each do |p| %>
      <div class="page-content">
        <ul class="demo-list-three mdl-list">
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <span><%= link_to p.title, post_path(p.id), class: "mdl-navigation__link", id: "post-title" %></span>
              <span id="post-content" class="mdl-list__item-text-body">
                <%= truncate(p.content, length: 200) %>
              </span>
              <div class="post_creator">
               <!-- user .build to get the association and thats how I can use p.user  -->
                <% if p.user %>
                  <small class="author">Created by: <%= p.user.email %></small>
                <% end %>
              </div>
            </span>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="add-new-post">
      <%= link_to "Add New Post", new_post_path, class: "mdl-button mdl-js-button mdl-button--raised", id: "new-post-button" %>
    </div>
  </main>
</body>
</html>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
