body{
  background-color: #d8d8d8;
}

form {
  border: 2px solid white;
  padding: 20px;
  display: inline-block;
  width: 500px;
  height: 350px;
}

h2.sign_up, .sign_in, .main {
  text-align: center;  
  padding-top: 40px;
}

div.form_for_sign_up, .form_for_sign_in, .form-for-new-post {
  text-align: center;
  padding-top: 30px;
}

div.mdl-textfield.mdl-js-textfield.is-upgraded {
  display: block;
  text-align: center;
  margin: 0 auto;
}

div.actions {
  padding-top: 25px;  
  text-align: center;
}

input.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored {
  font-size: 25px;
  width: 150px;
  height: 50px;
  color: rgb(29, 34, 39);
  background-color: #036E8C;
}

.page-content, .demo-card-wide.mdl-card.mdl-shadow--2dp {
  margin-top: 150px;
  margin-left: 150px;
  margin-bottom: 60px;
  height: 200px;
  width: 500px;
  border: 2px solid black;
  background-color: white;
}

.mdl-card__title-text {
  color: black;
}

.mdl-card__supporting-text {
  font-size: 20px;
}

.demo-card-wide.mdl-card.mdl-shadow--2dp {
  margin-top: 50px;
  height: 300px;
  width: 500px; 
}

.mdl-card__actions.mdl-card--border {
  padding-top: 100px;
}

.mdl-card--border {
  padding-top: 30px;
}

.author {
  position: absolute;
}

.author-on-show {
  font-size: 12px;
}

a.mdl-navigation__link {
  padding-bottom: 10px;
}

a:hover{
  cursor: pointer;
  color: rgb(33,150,243);
}

a#post-title {
  font-size: 30px;
}

span#post-content {
  font-size: 20px;
  padding-top: 25px;
}

.add-new-post {
  margin-left: 150px;
  position: relative;
}

.demo-card-wide.mdl-card {
  width: 512px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
