body{
  background-color: #d8d8d8;
}

a {
  text-decoration: none;
}

form {
  border: 2px solid black;
  padding: 20px;
  display: inline-block;
  width: 500px;
  height: 350px;
  background-color: white;
}

li {
  margin-top: 5px;
}

div.flash-alertssuccess, .flash-alertsnotice {
  display: inline-block;
  font-size: 25px;
  background-color: rgba(116, 221, 116, 0.35);
  height: 30px;
  width: 1276px;
  border: 2px solid black;
  text-align: center;
  font-weight: 200;
  list-style: none;
}

h2.sign_up, .sign_in, .main {
  text-align: center;  
  padding-top: 40px;
}

div.form_for_sign_up, .form_for_sign_in, .form-for-new-post {
  text-align: center;
  padding-top: 30px;
}

div.mdl-textfield.mdl-js-textfield.is-upgraded {
  display: block;
  text-align: center;
  margin: 0 auto;
}

div.actions {
  padding-top: 25px;  
  text-align: center;
}

input.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored {
  font-size: 25px;
  width: 150px;
  height: 50px;
  color: rgb(29, 34, 39);
  background-color: #036E8C;
}

.page-content, .demo-card-wide.mdl-card.mdl-shadow--2dp {
  margin-top: 150px;
  margin-left: 150px;
  margin-bottom: 60px;
  height: 400px;
  width: 700px;
  border: 2px solid black;
  background-color: white;
}

.form-for-comments {
  height: 300px;
  width: 900px;
}

.page-content {
  margin-top: 50px;
  height: 250px;
}

.mdl-card__title-text {
  color: black;
}

.mdl-card__supporting-text {
  font-size: 20px;
  padding-bottom: 150px;
}

.demo-card-wide.mdl-card.mdl-shadow--2dp {
  margin-top: 50px;
  height: 650px;
  width: 900px;
  overflow-y: scroll;
}

.mdl-card__actions.mdl-card--border {
  padding-top: 10px;
}

form.new_comment {
  display: block;
  width: 500px;
  height: 240px;
  margin-left: 155px;
  overflow-y: scroll;
}

h4.comments-header {
  text-align: center;
}

div.comment-content, .comment-time {
  text-align: center;
  word-wrap: break-word;
}

div.comment-content {
  padding-right: 50px;
  padding-left: 50px;
}
.mdl-card--border {
  padding-top: 30px;
}

.author {
  position: absolute;
}

.author-on-show {
  font-size: 12px;
}

a.mdl-navigation__link {
  padding-bottom: 10px;
}

a:hover{
  cursor: pointer;
  color: rgb(33,150,243);
}

a#post-title {
  font-size: 30px;
}

span#post-content {
  font-size: 20px;
  padding-top: 25px;
  word-wrap: break-word;
}

.add-new-post {
  margin-left: 150px;
  position: relative;
  margin-bottom: 100px;
  line-height: 10em;
}

#new-post-button {
  font-size: 25px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
  padding-top: 50px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
